{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/new">
    <h2>Add New Workout</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <div class="form-group">
        <label for="workout_name">Workout Name</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          name="workout_name"
          aria-describedby="pushupHelp"
          placeholder="Enter workout name"
        />
      </div>
    <div class="form-group">
      <label for="sets">Workout sets</label>
      <input
        type="number"
        class="form-control"
        id="pushups"
        name="sets"
        aria-describedby="pushupHelp"
        placeholder="Enter number of workout sets done"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Workout</button>
  </form>
</div>
{% endblock %}